$color-primario: #0067c7;
$color-secu: #018080;


/* Generales */

body {
	background-image: url("../media/fondo_site.jpg");
  background-repeat: no-repeat;
	background-attachment: fixed;
 	background-position: center; 
 	background-size: cover;
}

.titulosSeccion {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $color-primario;
}

.comentarioSeccion {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $color-secu;
  --animate-duration: 1.5s;
}

/* Nav del sitio */

.navbar-dark .navbar-brand {
	color: $color-primario;
}

.navbar-dark .navbar-brand:hover {
  color: $color-primario;
  transition-duration: 0.5s;
  transform: scale(1.05);
}

a.navbar-brand {
  font-size: 1.375rem;
}


#colorTi {
    color: $color-secu;
}

div#collapsibleNavbar.collapse.navbar-collapse {
  flex-direction: row-reverse
}

.navbar-dark .navbar-nav .nav-link {
  color: $color-secu;
  font-size: 1.25rem;
  font-weight: bold;
}

.active {
  color: $color-primario !important;

}

.navbar-dark .navbar-nav .nav-link:hover {
  color: $color-primario;
  transition-duration: 0.25s;
  transform: scale(1.05);
}

/* Footer */

div.row.text-center.bg-dark {
  margin: 0px;
}

.footerDatos p {
  font-size: 0.875rem;
  margin: 1rem;
  color: $color-secu;
}

.footerRedes {
  margin-bottom: 1rem;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
}

.iconoSocial:hover {
  filter: drop-shadow(1px 1px black);
}
