$color-primario: #0067c7;
$color-secu: #018080;

/* Sección Servicios*/

.seccionServicios {
	padding-top: 2rem;
}

.rowServicios {
  padding-bottom: 3rem;
}

.picServicios {
  width: 100%
}

.tituloServicios {
  color: $color-primario;
  font-size: 2rem !important;
}

.textoServicios {
	font-size: 1.125rem;
}